<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="config/db.properties" />

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.dev.vo.MemberVO" alias="member"></typeAlias>
		<typeAlias type="com.dev.vo.BoardVO" alias="board"></typeAlias>
		<typeAlias type="com.dev.vo.ReplyVO" alias="reply"></typeAlias>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<package name="com.dev.mybatisdb" />
	<!-- <mapper resource="com/dev/mybatisdb/memberMapper.xml" /> -->
	<!-- <mapper resource="com/dev/mybatisdb/boardMapper.xml" /> -->
	</mappers>

</configuration>
