<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.edu.member.mapper.MemberMapper">

	<select id="memberList" resultType="MemberVO">
	    select * from members order by id
	</select>
	
	<select id="loginCheck" parameterType="MemberVO" resultType="MemberVO">
	    select * from members where id=#{id} and passwd=#{passwd}
	</select>
	
	<select id="searchMember" parameterType="string" resultType="MemberVO">
		select * from members where id=#{id}
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
	    insert into members (id, passwd, name, email, responsibility, cdate, pfilename, addr, phone_number)
	    values (#{id}, #{passwd}, #{name}, #{email}, #{responsibility}, sysdate, #{pfilename}, #{addr}, #{phoneNumber} )
	</insert>
	
	<delete id="deleteMember" parameterType="string">
	    delete from members where id=#{id}
	</delete>
	
	<update id="updateMember" parameterType="MemberVO">
	    update members set pfilename = #{pfilename} where id = #{id}
	</update>
	
	<update id="insertCenterInfo" parameterType="java.util.Map">
		<foreach collection="list" item="i" open="insert all" close="select * from dual" separator=" ">
			into center_info (id, center_name, sido, sigungu, zip_code, address, phone_number)
			values (#{i.id}, #{i.centerName}, #{i.sido}, #{i.sigungu}, #{i.zipCode}, #{i.address}, #{i.phoneNumber} )
		</foreach>
	</update>
	
	<select id="createSalesNo" resultType="string">
	    select nvl(max(sales_no), 10000)+1 from sales
	</select>
	
	<insert id="createSalesLines" parameterType="com.yedam.edu.member.vo.SalesParamVO">
	    insert into sale_orders
	    select orders_seq.nextval, #{salesNo}, p.pd_id, c.qty
	    from cart c
	    join product p
	    on c.product_nm = p.pd_name
	    <where>
	    <foreach collection="cartNos" item="item" open="no in (" separator="," close=")">
	      #{item}
	    </foreach>
	    </where>
	</insert>
	
	<insert id="createSalesInfo" parameterType="string">
	    insert into sales values(#{salesNo}, 'total sales', 23000)
	</insert>
	
	<select id="selectSales" parameterType="string" resultType="com.yedam.edu.member.vo.SaleOrderInfo">
	    select * from sale_orders where sales_no = #{salesNo}
	</select>
	
</mapper>
