<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.edu.member.mapper.MemberMapper">

	<select id="noticeList" resultType="NoticeVO">
		select * from tbl_notice order by 1 desc
	</select>

	<select id="searchNoticeList">
		select * from tbl_notice
		<where>
			<choose>
				<when test="searchCondition == writer">
					notice_writer like '%'||#{noticeWriter}||'%'
				</when>
				<when test="searchCondition == title">
				    notice_title like '%'||#{noticeTitle}||'%'
				</when>
				<otherwise>
					notice_subject like '%'||#{noticeSubject}||'%'
				</otherwise>
			</choose>
		</where>
		order by notice_id
	</select>

	<select id="searchNotice" resultType="BookVO" parameterType="int">
		select * from tbl_notice
		where notice_id = ${id}
	</select>

	<insert id="insertNotice">
		<selectKey keyProperty="noticeId" resultType="int" order="BEFORE">
			select notice_seq.nextval from dual
		</selectKey>
		insert into tbl_notice (notice_id, notice_writer, notice_title, notice_subject, notice_date)
		values (#{noticeId}, #{noticeWriter}, #{noticeTitle}, #{noticeSubject}, sysdate)	
	</insert>
	
	<update id="updateNotice">
		update tbl_notice
		set notice_writer = #{notice_writer}
		<if test="noticeTitle != null">
			, notice_title = #{noticeTitle}
		</if>
		<if test="noticeSubject != null">
			, notice_subject = #{noticeSubject}
		</if>
		where notice_id = #{noticeId}
	</update>
	
	<delete id="deleteNotice">
		delete from tbl_notice where notice_id = ${id}            
	</delete>
	
	<select id="noticePagingCnt">
		select count(1) from tbl_notice
		<where>
			<choose>
				<when test="noticeWriter != null">
				 notice_writer like '%'||#{noticeWriter}||'%'
				</when>
				<when test="noticeTitle != null">
				 notice_title like '%'||#{noticeTitle}||'%'
				</when>
				<when test="noticeSubject != null">
				 notice_subject like '%'||#{noticeSubject}||'%'
				</when>
			</choose>
		</where>	
	</select>
	
	<select id="noticeListPaging">
	<![CDATA[
		select b.notice_id, b.notice_writer, b.notice_title, b.notice_date, b.hit_count from
		(
		    select rownum rn, a.* from 
		    (select n.* 
		     from tbl_notice n
			<where>
				<choose>
					<when test="noticeWriter != null">
					 notice_writer like '%'||#{noticeWriter}||'%'
					</when>
					<when test="noticeTitle != null">
					 notice_title like '%'||#{noticeTitle}||'%'
					</when>
					<when test="noticeSubject != null">
					 notice_subject like '%'||#{noticeSubject}||'%'
					</when>
				</choose>
			</where>	
		     order by 1) a
		    where rownum <= (#{pageNum} * #{totalCnt})
		) b
		where b.rn >= (#{pageNum} * #{totalCnt} - 9)
	]]>
	</select>
	
</mapper>