<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.edu.book.mapper.BookMapper">

	<select id="selectBooks" resultType="BookVO">
		select * from book_info
		<where>
			<if test="bookCode != null">
				book_code like '%'||#{bookCode}||'%'
			</if>
			<if test="bookTitle != null">
				and book_title like '%'||#{bookTitle}||'%'
			</if>
		</where>
		order by book_code
	</select>

	<select id="selectBookList">
		select * from book_info
		<where>
			<choose>
				<when test="bookTitle != null">
					book_title like '%'||#{bookTitle}||'%'
				</when>
				<when test="bookAuthor">
				    book_author like '%'||#{bookAuthor}||'%'
				</when>
				<otherwise>
				
				</otherwise>
			</choose>

		</where>
		order by book_code
	</select>

	<select id="selectBook" resultType="BookVO">
		select * from book_info 
		where book_code = #{bookCode}
	</select>

	<select id="selectColumn" resultType="BookVO">
		select * from book_info
		where ${column} = #{value}
	</select>
	
	<insert id="insertBook">
		insert into book_info (book_code, book_title, book_author, book_press, book_price, book_desc)
		values (#{bookCode}, #{bookTitle}, #{bookAuthor}, #{bookPress}, #{bookPrice}, #{bookDesc} )
	</insert>
	
	<select id="bookList" resultType="BookVO">
	  select * from book_info
	  order by book_code
	</select>
	
	<delete id="deleteBook" parameterType="string">
	  delete from book_info where book_code = #{bcode}
	</delete>

</mapper>